---
import DesktopNavigation from "./DesktopNavigation.astro";
import MobileNavigation from "./MobileNavigation.astro";
import SkipToMain from "./SkipToMain.astro";

// New links must be added in links.ts
---

<header
  class="sticky top-0 z-20 flex w-full items-center justify-between border-b-2 border-slate-800 bg-slate-950 px-8 py-2"
  transition:persist
  aria-label="Header"
>
  <SkipToMain />
  <a href="/" class="group z-30 w-12 transition-all" aria-label="Logo">
    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_152_77)">
        <rect width="100" height="100" rx="15" class="fill-slate-900"></rect>
        <path
          d="M28.9385 24.486H42.4685V80H28.9385V24.486ZM72.2345 24.486C71.4692 28.3673 70.5672 31.702 69.5285 34.49C68.5445 37.278 67.4512 39.7107 66.2485 41.788C65.0458 43.8107 63.7612 45.5327 62.3945 46.954C61.0278 48.3753 59.6065 49.66 58.1305 50.808L77.3185 80H62.2305L43.3705 49.578V48.594C45.7758 47.446 47.7985 46.1067 49.4385 44.576C51.1332 42.9907 52.5545 41.214 53.7025 39.246C54.8505 37.2233 55.8072 35.0093 56.5725 32.604C57.3925 30.144 58.1305 27.438 58.7865 24.486H72.2345Z"
          class="fill-emerald-400 group-hover:fill-emerald-400 md:fill-emerald-800"
        ></path>
      </g>
      <defs>
        <clipPath id="clip0_152_77">
          <rect width="100" height="100" rx="15" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </a>

  <DesktopNavigation />
  <MobileNavigation />
</header>
