---

---

<a
  href="#main-content"
  class="absolute -top-80 z-40 rounded-lg bg-slate-800 p-4 text-xl font-bold text-neutral-100 underline opacity-0 transition-all focus:top-4 focus:opacity-100"
>
  Skip to Main Content
</a>
