---
import Button from "../components/Button.astro";
import Heading from "../components/Heading.astro";
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout title="404" description="Well, this is embarrassing.">
  <main class="mx-4 my-16 grid place-items-center gap-8">
    <Heading level="h1">404</Heading>
    <p>I looked everywhere...</p>
    <p>
      I couldn't find what you were looking for, but it's probably in here
      somewhere!
    </p>
    <Button type="primary" href="/">Go to Homepage</Button>
  </main>
</PageLayout>
