---
import Button from "../components/Button.astro";
import Heading from "../components/Heading.astro";
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout
  title="Accessibility"
  description="I'm always working on improving the user experience for all users. Please do not hesitate to reach out with feedback on the websites accessibility features."
>
  <main aria-label="Main content" class="mt-24">
    <article class="grid max-w-prose gap-4">
      <Heading level="h1">Accessibility</Heading>
      <p aria-label="Accessibility statement">
        Kristiannielsen.com put great importance to ensuring effective
        communication and digital accessibility for all users. I'm always
        working on improving the user experience for all users, and applying the
        relevant standards for accessibility. If you experience problems with
        the accessibility of kristiannielsen.com, please do not hesitate to
        reach out.
      </p>
      <Button href="/contact" type="primary">Contact Me</Button>
    </article>
  </main>
</PageLayout>
